.aboutContainer {
    display: flex;
    width: 100%;
    align-items: center;
}

.portrait img {
    max-width: 600px;
    border-radius: 9px;
    filter: opacity(60%);
}

.portrait {
    width: 50%;
    margin-right: 30px;
}

.aboutDescription {
    width: 50%;
}

.heading--about {
    position: relative;
    z-index: 5;
}

.heading--about::before {
    content: '';
    display: block;
    width: 154px;
    height: 29px;
    background: $primaryAccent;
    top: -4px;
    left: 34px;
    position: absolute;
    z-index: -1;
}





