.about {
    padding: 2% 0;
}
.aboutContainer {
    display: flex;
    width: 100%;
    align-items: center;
}



.portrait {
    max-width: 600px;
    border-radius: 9px;
    width: 50%;
    margin-right: 30px;
    img {
        filter: grayscale(100%);
        max-width: 600px;
        border-radius: 9px;
        // filter: opacity(100%);
    }
}

.aboutDescription {
    width: 50%;
}

.heading--about {
    position: relative;
    z-index: 5;
}

.heading--about::before {
    content: '';
    display: block;
    width: 189px;
    height: 29px;
    background: $secondaryAccent;
    top: -5px;
    left: 41px;
    position: absolute;
    z-index: -1;
}





