html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background: $bodyColor;
    // background: $primaryColor;
    @include defaultFont(1.6rem);
    overflow-x: hidden;

}

.wrapper {
    max-width: 1280px;
    width: 80%;
    // border: 2px solid tomato;
    margin: 0 auto;
}

.outerWrapper {
    max-width: 1320px;
    width: 85%;
    margin: 0 auto;
    border: 2px solid tomato;
}

img {
    // max-width: 500px;
    width: 100%;
    display: block;
}

.heading {
    @include sectionHeading(4rem);
}

.headingContainerEnd {
    display: flex;
    justify-content: flex-end;
}

