header {
    height: 97vh;
    background: linear-gradient($secondaryAccent, $primaryAccent,);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
}

.nameHeading h1{
    margin: 0;
}

