.fixedNav {
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
    position: fixed;
    right: calc(10% / 2);
    // right: calc(15% / 2);
    z-index: 10;
    
}

.hamburger {
    cursor: pointer;
    font-size: 2.5rem;
    color: $darkFont;
    
}

.mainNav {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 10;
    padding: 150px 25px;
    text-align: center;
    // background: $bodyColor-rgba;
    background: linear-gradient(rgba(252,252,252,1), rgba(252,252,252,1), rgba(252,252,252,0.5));
    width: 320px;
}

.closed {
    right: -480px;
}

.opened {
    right: 0;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 45px;
}

.navLinks, .socialLinks li {
    list-style: none;
    a {
        text-decoration: none;
        @include navFont;
    }
}

.socialLinks {
    display: flex;
    li{
        margin: 10px;
    }
}

.close {
    position: absolute;
    top: 25px;
    right: 50px;
    font-size: 2.5rem;
    cursor: pointer;
}
