.projects {
    // background: linear-gradient($primaryAccent, $secondaryAccent);  
    background-color: $secondaryAccent; 
    // background-color: $primaryColor;
    -webkit-clip-path: polygon(0 4%, 100% 0%, 100% 100%, 0 96%);
    clip-path: polygon(0 4%, 100% 0%, 100% 100%, 0 96%);
    padding: 10% 0 15% 0;
    transition: 1s;
}

.heading--projects {
    position: relative;
    z-index: 5;
}

.heading--projects::before {
    content: '';
    display: block;
    width: 150px;
    height: 29px;
    // background: #D7EAF6;
    background: $bodyColor;
    top: -5px;
    left: 40px;
    position: absolute;
    z-index: -1;
}

.project-img {
    max-width: 500px;
}

.project {
    display: flex;
    align-items: center;
    width: 100%;
    // padding: 3% 0;
    padding: 40px;
    margin-bottom: 30px;
    border-radius: 9px;
    background: linear-gradient(rgba(252,252,252, 0), rgba(252,252,252,0.5));
    // border: 5px solid $bodyColor;
    &--rightAlign {
        flex-direction: row-reverse;
        .projectImgContainer{
            display: flex;
            justify-content: flex-end;
        }
        .project-img {
            align-self: center;
        }
    }
}

.projectImgContainer {
    width: 50%;
    position: relative;
}

.saltLamp-img {
    max-width: 28%;
    filter: opacity(100%);
    z-index: -1;
}

.saltLampRight-img {
    position: absolute;
    // bottom: -45px;
    // right: -80px;
    bottom:-8%;
    right:-18%;
}

.saltLampLeft-img {
    position: absolute;
    // bottom: -45px;
    // left: -85px;
    bottom:-8%;
    left:-18%;
}

.projectInfo {
    width: 50%;
}


.projectTools--list {
    padding: 0;
    margin: 0;
    display: flex;
}

.projectTools--items {
        list-style: none;

    }

.projectLink--btn {
    text-decoration: none;
}
