.skills {
    padding: 5% 0;
}

.heading--skills {
    position: relative;
    z-index: 5;
}

.heading--skills::before {
    content: '';
    display: block;
    width: 81px;
    height: 29px;
    background: $secondaryAccent;
    top: -4px;
    left: 28px;
    position: absolute;
    z-index: -1;
}

.iconListContainer {
    background: $primaryAccent;
    
    padding: 50px 20px;
}

.iconList:first-child {
    margin-bottom: 50px;
}

//FIREBASE ICON
.firebase {
    max-width: 40px;
    padding-top: 5px;
}

.iconList {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 6rem;
}

.iconList--item {
    list-style: none;
    color: #869da8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iconTitle {
    font-size: 1.6rem;
}



