// VARIABLES
$primaryColor: #4C5860;
$primaryAccent: #FFF1F1;
// $primaryAccent: #f6dbd7;
// $secondaryAccent: #D7EAF6;
$secondaryAccent: #d7f2f6;
$bodyColor: #FCFCFC;
$bodyColor-rgba: rgba(252,252,252,0.9);
$darkFont: #2B2B2B;
//test color:
$devicon: #869da8;
$accentFont: 'Josefin Sans', sans-serif;
$primaryFont: 'Lato', sans-serif;


// MIXINS

@mixin mainHeading($size) {
    font-family: $accentFont;
    font-size: $size;
    font-weight: 600;
    text-transform: lowercase;
    letter-spacing: 1px;
    margin: 0;
    color: $primaryColor;
}

@mixin defaultFont ($size) {
    font-family: $primaryFont;
    font-weight: 400;
    line-height: 1.5;
    color: $primaryColor;
    font-size: $size;
}

@mixin sectionHeading($size) {
    font-family: $primaryFont;
    font-weight: 700;
    line-height: 1;
    color: $primaryColor;
    font-size: $size;
    text-transform: lowercase;
}

@mixin clickFont($size, $color) {
    font-family: $primaryFont;
    font-weight: 700;
    font-size: $size;
    color:$color;
    
}






