article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background: #FCFCFC;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #4C5860;
  font-size: 1.6rem;
  overflow-x: hidden; }

.wrapper {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto; }

.outerWrapper {
  max-width: 1320px;
  width: 85%;
  margin: 0 auto;
  border: 2px solid tomato; }

img {
  width: 100%;
  display: block; }

.heading {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  line-height: 1;
  color: #4C5860;
  font-size: 4rem;
  text-transform: lowercase; }

.headingContainerEnd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.fixedNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-top: 30px;
  position: fixed;
  right: calc(10% / 2);
  z-index: 10; }

.hamburger {
  cursor: pointer;
  font-size: 2.5rem;
  color: #2B2B2B; }

.mainNav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 10;
  padding: 150px 25px;
  text-align: center;
  width: 320px; }

.closed {
  right: -480px; }

.opened {
  right: 0; }

.close {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer; }

header {
  height: 98vh;
  background: #D7EAF6;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%); }

.headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%; }

.nameHeading h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 6rem;
  font-weight: 600;
  text-transform: lowercase;
  letter-spacing: 1px;
  margin: 0;
  color: #4C5860;
  color: #2B2B2B; }

.aboutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.portrait img {
  max-width: 600px;
  border-radius: 9px;
  -webkit-filter: opacity(60%);
  filter: opacity(60%); }

.portrait {
  width: 50%;
  margin-right: 30px; }

.aboutDescription {
  width: 50%; }

.heading--about {
  position: relative;
  z-index: 5; }

.heading--about::before {
  content: '';
  display: block;
  width: 154px;
  height: 29px;
  background: #D7EAF6;
  top: -4px;
  left: 34px;
  position: absolute;
  z-index: -1; }

.projects {
  background-color: #FFF1F1;
  -webkit-clip-path: polygon(0 4%, 100% 0%, 100% 100%, 0 96%);
  clip-path: polygon(0 4%, 100% 0%, 100% 100%, 0 96%);
  padding: 10% 0 15% 0; }

.heading--projects {
  position: relative;
  z-index: 5; }

.heading--projects::before {
  content: '';
  display: block;
  width: 130px;
  height: 29px;
  background: #D7EAF6;
  top: -4px;
  left: 34px;
  position: absolute;
  z-index: -1; }

.project-img {
  max-width: 500px; }

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 3% 0; }
  .project--rightAlign {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
    .project--rightAlign .projectImgContainer {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
    .project--rightAlign .project-img {
      -ms-flex-item-align: center;
      align-self: center; }

.projectImgContainer {
  width: 50%;
  position: relative; }

.saltLamp-img {
  max-width: 28%;
  -webkit-filter: opacity(50%);
  filter: opacity(50%);
  z-index: -10; }

.saltLampRight-img {
  position: absolute;
  bottom: -8%;
  right: -18%; }

.saltLampLeft-img {
  position: absolute;
  bottom: -8%;
  left: -18%; }

.projectDescriptionContainer {
  width: 50%; }

.skills {
  padding: 5% 0; }

.heading--skills {
  position: relative;
  z-index: 5; }

.heading--skills::before {
  content: '';
  display: block;
  width: 81px;
  height: 29px;
  background: #D7EAF6;
  top: -4px;
  left: 28px;
  position: absolute;
  z-index: -1; }

.iconListContainer {
  background: #FFF1F1;
  padding: 50px 20px; }

.iconList:first-child {
  margin-bottom: 50px; }

.firebase {
  max-width: 40px;
  padding-top: 5px; }

.iconList {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  font-size: 6rem; }

.iconList--item {
  list-style: none;
  color: #869da8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.iconTitle {
  font-size: 1.6rem; }

.heading--contact {
  position: relative;
  z-index: 5; }

.heading--contact::before {
  content: '';
  display: block;
  width: 130px;
  height: 29px;
  background: #D7EAF6;
  top: -4px;
  left: 30px;
  position: absolute;
  z-index: -1; }
